// @import "mixin";
// @import "variables";
// @import "global";
// @import "menu";
// @import "hero";
// @import "about-us";

$primary-dark: #333;
$secondary-light: #777;
$light: #fff;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin m-q($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap&subset=latin-ext");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba($color: #000000, $alpha: 0.98);
  height: 6rem;
  display: flex;

  &__container {
    @extend .container;
    @include flex(space-between, center, row);
  }

  &__site-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.8rem;
    text-transform: capitalize;
  }

  &__logo-img {
    width: 70px;
    margin-right: 1rem;
  }

  &__nav-trigger {
    border: none;
    background: none;
    display: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    @include m-q(800px) {
      display: block;
    }
  }

  &__line {
    width: 50px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  &__navigation {
    @include flex(space-between, center, row);
    list-style: none;

    @include m-q(800px) {
      position: absolute;
      opacity: 0;
      transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
      transform: translate(100%);
      width: 100%;
      flex-direction: column;
      top: 60px;
      left: 0;
      height: calc(100vh - 60px);
      justify-content: space-evenly;
      background: rgba($color: #000000, $alpha: 0.98);
    }
  }

  &__nav-item {
    margin: 0 1rem;
  }

  &__nav-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    position: relative;

    &::after {
      content: "";
      width: 0px;
      height: 3px;
      position: absolute;
      left: 0;
      bottom: -5px;
      background-color: #fff;
      transition: 0.3s;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.navbar__nav-trigger.is-active {
  animation: smallbig 0.6s forwards;
}

.navbar__nav-trigger.is-active .navbar__line:nth-child(1),
.navbar__nav-trigger.is-active .navbar__line:nth-child(2),
.navbar__nav-trigger.is-active .navbar__line:nth-child(3) {
  transition-delay: 0.2s;
}

.navbar__nav-trigger.is-active .navbar__line:nth-child(2) {
  opacity: 0;
}
.navbar__nav-trigger.is-active .navbar__line:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}
.navbar__nav-trigger.is-active .navbar__line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

@keyframes smallbig {
  0%,
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}

.navbar__navigation.is-open {
  opacity: 1;
  transform: translateX(0);
}

.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(images/banner.jpg);
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  @include flex(center, center, column);

  &__btn {
    border: 2px solid #fff;
    padding: 20px 30px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    transition-property: background;

    &:hover {
      background: rgba(0, 0, 0, 0.9);
    }
  }
}

.about-us {
  scroll-margin-top: 6rem;

  padding: 6rem 0;

  &__columns {
    display: flex;
    align-items: center;

    @include m-q(850px) {
      display: unset;
    }
  }

  &__heading {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    color: $primary-dark;

    @include m-q(650px) {
      font-size: 2.4rem;
    }
  }

  &__description {
    line-height: 1.9;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: $secondary-light;

    @include m-q(650px) {
      line-height: 1.5;
      font-size: 1.6rem;
    }
  }

  &__img {
    width: 40%;
    margin-left: 30px;

    @include m-q(850px) {
      margin-left: 0;
      margin: auto;
      width: 90%;
    }
  }
}

.bookmark--menu {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url(images/bookmarks/menu.jpg);
}

.bookmark--gallery {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url(images/bookmarks/gallery.jpg);
}

.bookmark--contact {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url(images/bookmarks/contact.jpg);
}
.bookmark--route {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url(images/bookmarks/route.jpg);
}

.bookmark {
  scroll-margin-top: 6rem;
  background-color: rgba(0, 0, 0, 0.9);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  text-align: center;
  padding: 8vh 5vw;

  &__header {
    font-size: 10rem;
    text-transform: uppercase;

    @include m-q(1199px) {
      font-size: 10vw;
    }

    &::after,
    &::before {
      content: " - ";
      font-weight: 300;
    }
  }

  &__description {
    font-size: 2.4rem;

    @include m-q(767px) {
      font-size: 1.6rem;
    }
  }
}

.menu {
  // @include flex(center, center, row);
  color: $primary-dark;
  padding: 100px 0;

  &__cols-wrapper {
    display: flex;
    margin: 0 -15px;

    @include m-q(980px) {
      flex-wrap: wrap;
    }
  }

  &__col {
    flex-basis: 33%;
    padding: 0 15px;

    @include m-q(980px) {
      flex-basis: 50%;
    }
    @include m-q(600px) {
      flex-basis: 100%;
    }
  }

  &__heading {
    font-size: 4rem;
    text-transform: uppercase;
    @include m-q(930px) {
      font-size: 3rem;
    }
  }

  &__list-item {
    margin: 3rem 0;
    @include m-q(930px) {
      margin: 1rem 0;
    }
  }

  &__position {
    display: flex;
    margin: 1rem 0;
    align-items: baseline;
    font-size: 1.8rem;
  }

  &__position::after {
    content: "";
    margin: 0 0.3rem;
    border-top: 2px dotted;
    flex-grow: 1;
    order: 2;
  }

  &__position-name {
    text-transform: uppercase;
  }

  &__position-price {
    order: 3;
  }

  &__ingredients {
    color: $secondary-light;
    font-size: 1.4rem;
    margin: 0.5rem 0;
  }
}

.gallery {
  padding: 50px 0;

  &__imgs-wrapper {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-row: auto;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.contact {
  background: rgba(0, 0, 0, 0.95);
  padding: 5rem 0;
  color: $light;

  &__container {
    @extend .container;
    max-width: 90rem;
  }

  &__direct {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__element {
    margin: 2rem 2rem 4rem 2rem;
  }

  &__email,
  &__phone {
    font-size: 2.4rem;
    font-weight: 300;
    color: $light;

    @include m-q(570px) {
      font-size: 1.6rem;
    }
  }

  &__info {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 300;
    max-width: 60rem;
    margin: 0 auto 5rem auto;
    line-height: 1.4;

    @include m-q(570px) {
      font-size: 1.6rem;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }

  &__form-name {
    grid-column: 1/2;
    display: block;
    width: 100%;

    @include m-q(600px) {
      grid-column: 1/3;
    }
  }

  &__form-email {
    grid-column: 2/3;
    display: block;
    width: 100%;

    @include m-q(600px) {
      grid-column: 1/3;
    }
  }

  &__form-item {
    border: none;
    background: transparent;
    border: 1px solid $light;
    padding: 0.8rem;
    font-family: "Roboto Condensed", sans-serif;
    color: $light;

    &::placeholder {
      color: $light;
      text-transform: uppercase;
    }
  }

  &__form-textarea {
    grid-column: 1/3;
  }

  &__form-btn {
    grid-column: 1/2;
    width: 10rem;
    transition: 0.3s;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      color: $primary-dark;
      background-color: $light;
    }
  }
}

.route {
  display: block;
  width: 100%;
  min-height: 50vh;
  border: none;
}

.footer {
  padding: 20px 15px;
  background: rgba(0, 0, 0, 0.95);

  &__copyright {
    color: $light;
    font-size: 1.6rem;
    text-align: center;
  }
}
